<%- include('../partials/head') %>
<body class="bg-light">
<%- include('../partials/nav') %>

<main class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <div class="card shadow-sm border-0 rounded-4">
        <div class="card-body p-4">

          <h3 class="fw-bold mb-4">Confirm your booking</h3>

 <form action="/bookings" method="POST">

  <input type="hidden" name="homeId" value="<%= home._id %>">
  <input type="hidden" name="homeName" value="<%= home.houseName %>">
  <input type="hidden" name="pricePerNight" value="<%= home.price %>">

  <div class="row mb-3">
    <div class="col">
      <label>Check in</label>
      <input type="date" name="checkIn" class="form-control" required>
    </div>
    <div class="col">
      <label>Check out</label>
      <input type="date" name="checkOut" class="form-control" required>
    </div>
  </div>

  <input type="text" name="firstName" class="form-control mb-2" placeholder="First name" required>
  <input type="text" name="lastName" class="form-control mb-2" placeholder="Last name" required>
  <input type="text" name="phone" class="form-control mb-2" placeholder="Phone" required>
  <input type="email" name="email" class="form-control mb-3" placeholder="Email" required>

  <button class="btn btn-primary w-100">
    Confirm Booking
  </button>

</form>



        </div>
      </div>

    </div>
  </div>
</main>
</body>
</html>
